@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Poppins:wght@300;400&display=swap');

@font-face {
    font-family: montreal;
    src: url('/src/public/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Regular.otf');
}
ul>a{
    margin-right: 2.5rem;
    height: fit-content;
}

ul>a:hover{
    color: #FF6000 ;
    transition:  ease-in-out 0.5s;
}

::selection{
    color: #FFA559;
}
.navMenu a {
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #FF6000;
  }
  
  .navMenu .dot {
    margin-top: 8px;
    width: 9px;
    height: 9px;
    background: #FF6000;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(1.27rem);
    transform: translateX(1.27rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(6.8rem);
    transform: translateX(6.8rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(12.5rem);
    transform: translateX(12.5rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(18.9rem);
    transform: translateX(18.9rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  